@model Vidly.Models.Movie
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Movie</h2>

@using (Html.BeginForm("Save", "Movies"))
{
    <div class="form-group">

        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })

    </div>

    <div class="form-group">

        @Html.LabelFor(m => m.Genre)
        @Html.TextBoxFor(m => m.Genre, new { @class = "form-control" })

    </div>

    <div class="form-group">

        @Html.LabelFor(m => m.dateAdded)
        @Html.TextBoxFor(m => m.dateAdded, "{0:d MMM yyyy}", new { @class = "form-control" })

    </div>

    <div class="form-group">

        @Html.LabelFor(m => m.dateReleased)
        @Html.TextBoxFor(m => m.dateReleased, "{0:d MMM yyyy}", new { @class = "form-control" })

    </div>
    
    @Html.HiddenFor(m => m.Id)

    <button type="submit" class="btn btn-primary">Save</button>

}